<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/page/common.css" rel="stylesheet">
        <script src="/js/page/common.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <%include navigation.ejs%>
            <div class="row margin-navigation">
                <div class="col-md-6 col-md-offset-3">
                    <img src="/img/design.jpg" style="width:100%;">
                </div>
                <div class="col-md-5">
                                    </div>
                <div class="col-md-3">
                </div>
            </div>
            <div class="row marginup">
                <div class="col-md-6 col-md-offset-3">
                <address style="line-height:2">
                        我们是一群热爱开源的物联网爱好者。为了将<strong>合作、开放、共享</strong>的互联网精神带入硬件开发，我们发起了tisan项目。
                        我们诚恳地希望更多的物联网爱好者能加入我们，共同完善tisan。
                        <dl class="marginup">
                            <dt>
                            使用疑问
                            </dt>
                            <dd>欢迎加入tisan讨论群230508748进行交流讨论</dd>
                            <dt>bug反馈</dt>
                            <dd>欢迎在我们<a target="_blank" href="http://github.com/tisan-kit">Github</a>项目中上提交issue<dd>
                            <dt>贡献代码</dt>
                            <dd>我们的软件代码和硬件设计都在<a target="_blank" href="http://github.com/tisan-kit">Github</a>开源，欢迎fork我们的项目并提交改进pr</dd>
                        </dl>
                        <br>
                        <br>
                        <br>
                    </address>
                <div>
                    <div class="col-md-3">
                    </div>
            </div>
        </div>
    </body>
	<script src="//cdn.bootcss.com/jquery/3.0.0-alpha1/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</html>
