<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Tisan - 404</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/page/common.css" rel="stylesheet">
		<style>
			body{position:fixed;background:#eee;box-sizing:border-box;width:100%;height:100%;padding:10px;}
			.nosupport{background:#ddd;width:100%;height:100%;border-radius:8px;text-align:center;cursor:pointer;}
			.title{color:#666;line-height:60px;}
			.icon-chrome{background-image:url(/img/chrome.png);background-size:100%;width:128px;height:128px;display:inline-block;}
		</style>
    </head>
    <body>
		<div class="nosupport" onclick="location.href='https://www.baidu.com/s?ie=utf-8&f=8&rsv_bp=0&rsv_idx=1&tn=baidu&wd=chrome&rsv_pq=aa8fa388000cb815&rsv_t=eac9CWWzYXhiG%2FDLerYPLdNX1qTsgYd9xQTeGCaZnla1PV6fwf4wbK1xIzo&rsv_enter=1&rsv_sug3=3&rsv_sug2=0&inputT=371&rsv_sug4=371'">
			<div class="title">
				抱歉您的浏览器不支持Tisan-ide,请下载最新webkit内核浏览器
			</div>
			<div class="icon-chrome">
			</div>
		</div>
    </body>
	<script src="//cdn.bootcss.com/jquery/3.0.0-alpha1/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</html>
