<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>忘记密码 - Tisan</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/page/common.css" rel="stylesheet">
        <script src="/js/page/common.js"></script>
    </head>
    <body>
        <div class="container registerTable">
            <div class="row" style="margin-top:10%">
                <div style="margin:auto;width:300px;">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading" style="position:relative;overflow:auto">
                            <h3 class="panel-title" style="float:left">Tisan</h3>
                            <a id="registerClose" style="position:absolute;right:10px;line-height:100%;text-decoration:none;cursor:pointer" href="/">×</a>
                        </div>
                        <div class="panel-body">
                            <div>
                                <form method="post">
                                    <div class="form-group">
                                        <input class="form-control password" placeholder="设置新密码" name="password" type="text" autofocus maxlength="20"/>
                                    </div>
                                    <div class="alert alert-warning" style="display:none" id="rc1">请输入正确的密码</div>
                                    <button type="submit" id="login-btn" class="register-btn btn btn-lg btn-success btn-block" style="width:130px;margin:auto">确认修改</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
	<script src="//cdn.bootcss.com/jquery/3.0.0-alpha1/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</html>
