<link rel="stylesheet" href="/iotboard/widgets/thermohygrometer/thermohygrometer.widget.min.css" media="screen" type="text/css" />
<script src="/iotboard/widgets/thermohygrometer/thermohygrometer.widget.min.js"></script>
<script type="text/html" id="template-thermohygrometer">
	<#if(title){#>
		<div class="title"><#=title#></div>
	<#}#>
<div class="preview">
    <div class="container">
        <div class="de">
            <div class="den">
              <div class="dene">
                <div class="denem">
                  <div class="deneme"><w class="thermometer"><#=status.thermometer#></w><span><#if(status.thermometer!='-'){#>.0<#}#></span><strong>&deg;</strong>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="de">
            <div class="den hygrometer">
              <div class="dene">
                <div class="denem">
                  <div class="deneme hygrometer-wrap"><w class="hygrometer"><#=status.hygrometer#></w><span></span><strong>%</strong>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<div class="clf"></div>
</script>
